<h1>Listing Policies groups</h1>

<table>
  <tr><th>name</th></tr>
  
  <% @policy_groups.each do |policy_group| %>
    <tr>
      <td><%= policy_group.name %></td>
      <td><%= link_to 'Show', policy_group if can? :read, policy_group %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New', new_policy_group_path if can? :write, AuthM::PolicyGroup %>