<h1>New Policy group</h1>
<%= form_with model: @policy_group, local: true do |form| %>
  <%= render partial: 'auth_m/policy_groups/form', locals: {form: form} %>
  <p>
    <%= form.submit %>
  </p>
<% end %>
<%= link_to 'Back', policy_groups_path %>
