<h1>Edit person</h1>
<%= form_with model: @person, method: :PUT, local: true do |form| %>
  <%= render partial: 'form', locals: {form: form} %>
  <p>
    <%= form.submit %>
  </p>
<% end %>
<%= link_to 'Back', person_path(@person) %>
