<h1>Management</h1>

<p>
  <strong>Name:</strong>
  <%= @management.name %>
</p>

<p>
  <h3>Resources</h3>
  <ul>
    <% @management.resources.each do |resource| %>
      <li><%= resource.name %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_management_path(@management) if can? :write, @management %>
<%= link_to 'Destroy', @management, method: :delete, data: { confirm: 'Are you sure?' } if can? :write, @management %>